<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TargetSharePointServer" connectionString="http://pulsedocs.qa.hrt.local/" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="BestDoctors.Integration.SharePoint.DocumentRepositoryServiceBehavior" name="BestDoctors.Integration.SharePoint.DocumentRepositoryService">
        <endpoint name="DocumentRepositoryService" xdt:Locator="Match(name)" >
          <identity xdt:Transform="Insert">
            <servicePrincipalName value="HTTP/pulsedocsmgmt.qa.hrt.local" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BestDoctors.Integration.SharePoint.DocumentRepositoryServiceBehavior" xdt:Locator="Match(name)">
          <serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>